@import url(./components/header.css);
@import url(./components/text.css);
@import url(./components/play-button.css);
@import url(./components/card-team.css);
@import url(./variables.css);

body{
    font-family: var(--font-fam);
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

main {
  padding: 0 1.6rem;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

/* ---------------------------------------------- */

/* Section "About" config */

#about{
    color: var(--f-c);
}

#name{
    color: gray;
    font-weight: bold;
}

/* ---------------------------------------------- */


/* Section Carousel config */

#carousel{
    margin-top: 2rem;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

/* ---------------------------------------------- */


/* Section Character config */

#character{
    margin-top: 2rem;
}

#character img {
  margin: 2.4rem 0;
}

.align{
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
}

#play {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

#team {
  display: flex;
  flex-direction: column;
}

/* ---------------------------------------------- */

/* Footer config */

.footer{
    padding: 2.4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6rem;
}

/* ---------------------------------------------- */

